ul > li {
    margin: 5px;
}

.stats{
    display:flex;
}

.book-count{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

ul > li > li:nth-child(1){
    font-size: 22px;
    margin: -3px;
}

ul > li > li:nth-child(2){
    font-size: 12px;
}