*{
    background-color: #f3f3f3;
}
.mybooklist-main{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

.mybooklist-container{
    display: grid;
    grid-template-columns: 30% 70%;
    justify-content: start;
    align-content: start;
    width: 500px;
    height: 100%;
    grid-gap: 20px 20px;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(46, 53, 77, 0.14), 0 2px 4px 0 rgba(46, 53, 77, 0.14), 0 1px 2px 0 rgba(46, 53, 77, 0.14);
    margin-right: 15px;
    padding: 20px 10px;
}

.mybooklist-img{

}

.mybooklist-text-flex{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.mybooklist-metadata{
    display: flex;
}

.mybooklist-metadata > div{
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    
}

.mybooklist-metadata > div:nth-child(3){
    margin-right: 0px;
}