/* #region Default styles */
.page-booklist {
    margin-right: 4%;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .custom-slider-booklist {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      width: 100%;
      height: auto;
      margin-bottom: 5vw;
      padding-right: 2vw;
      padding-left: 2vw;
      -webkit-align-self: center;
      -ms-flex-item-align: center;
      align-self: center;
  }
  
  .w-slider-booklist {
    position: relative;
    height: 300px;
    min-width: 350px;
    text-align: center;
    background: #eeeeee;
    clear: both;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  .slider__mask-booklist {
      display: flex;
      overflow: hidden;
      position: absolute;
      width: 82%;
      height: 100%;
      margin-left: 0px;
      padding-left: 1%;
      transition: opacity 300ms linear, border-color 300ms linear, background-color 300ms linear, transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
  
  .w-slider-mask-booklist {
    position: relative;
    display: inline-block;
    left: 0;
    right: 0;
    height: 100%;
    white-space: nowrap;
  }
  
  .slider-arrow-booklist {
    border: none;
    background-color: #eeeeee;
  }
  
  .slider-arrow-booklist:focus {
    outline: 0;
  }
    
    /* #endregion */