ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}


.user-detail-main{
    width: 1000px;
    height: ;
    padding: 100px 0px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

.profile-header{
    display: flex;
    flex-direction: row;
    flex-grow: ;
}
.small-size{
    width: ;
}

.user-info{
    width: 200px;
    margin-top: 10px;
    margin-left: 30px;
    text-align: left;
}

.stats-and-button{
    margin-left: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
.btn-wrapper{
    margin-left: auto;
    margin-top: -5px;
}

.user-metadata{
    display: flex;
    color:#666666;
    text-align: left;
}

.fields-bar{
    display:flex;
    background-color: ;
    margin-top: 50px;
    justify-content: center;
    ;
}

.fields-bar> div{
    padding: 10px 12px;
    background-color: transparent;
}
.fields-bar > div:not(:first-child){
    
    border-right: solid;
    border-image: linear-gradient(transparent 10%, #cacaca 10% 90%, transparent 90%) 0 0 0 1 / 1.1px;
}

.fields-bar> div:active{
    background-color: #0CE8B5;
    color: white;
}